*.pyc
*.bak
*.log
*.ipynb
*.rdf
database.db
/example_data/
/htmlcov/
/celerybeat*
/.project
/.pydevproject
/.cache/
**/.ipynb_checkpoints/
/.pytest_cache/
/.coverage
/.project
/test-reports/
/config/data/**
/config/static/**
/config/webprotege/
/config/crd
